
:root {
    --rad: 2rem;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #444444;
}

.cards {
    width: 70%;
    max-width: 1000px;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: var(--rad);
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    backdrop-filter: blur(5px);
}

.card:hover {
    cursor: pointer;
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.stripe {
    width: 100%;
    height: 5rem;
    background-color: #f4a261;
    position: absolute;
    z-index: -1;
}

.top {
    border-radius: var(--rad) var(--rad) 0 0;
}

.bottom {
    bottom: 0;
    border-radius: 0 0 var(--rad) var(--rad);
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid #3fce3a;
}

.card-content h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.card-content p {
    flex-grow: 1;
}

.socials {
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}